<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Practice</title>
</head>
<body>
    <% if (user) { %>
        <h1>Welcome back, <%= user.username %></h1>
        <a href="/log-out">Log Out</a>
    <% } else { %>
        <h1>Please Log In</h1>
        <form action="/log-in" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" />
            <label for="password">Password</label>
            <input type="password" name="password" />
            <button>Log In</button>
        </form>
    <% } %>
</body>
</html>